[submodule "Plugins/GASCompanionExamples"]
	path = Plugins/GASCompanionExamples
	url = https://github.com/GASCompanion/GASCompanionExamples
[submodule "Plugins/GASCompanionALS"]
	path = Plugins/GASCompanionALS
	url = https://github.com/GASCompanion/GASCompanionALS.git
[submodule "Plugins/ALS-Community"]
	path = Plugins/ALS-Community
	url = https://github.com/dyanikoglu/ALS-Community.git
